<a href="{{ .URL }}"{{ if in .URL "http" }} target="_blank" rel="noopener noreferrer"{{ end }} 
  class="w-full lg:w-auto text-center tracking-wide rounded-full px-6 py-2 transition whitespace-nowrap
  {{ if eq .Pre "primary" }}text-white gradient-bg hover:opacity-90 border border-transparent
    {{ else if eq .Pre "secondary" }}border text-white bg-black hover:bg-transparent border-black hover:text-black dark:text-black dark:bg-white dark:hover:bg-transparent dark:border-white dark:hover:text-white
    {{ else }}border border-black hover:bg-black hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-black{{ end }}">
{{ .Name }}
</a>
