{{define "main"}}
<div class="bg-purple-990 px-6 lg:px-8">
  <div class="mx-auto max-w-3xl pt-10 lg:pt-16 pb-8 lg:pb-16">
    {{ if .Params.categories }}
      <div class="gap-x-3 flex justify-center capitalize mb-4">
        {{ range .Params.categories }}<span class="px-3 py-1.5 rounded-full bg-green-100 text-green-500 leading-none inline-block">{{ . }}</span>{{ end }}
      </div>
    {{ end }}    
    <h1 class="text-3xl font-bold sm:text-4xl lg:text-5xl lg:leading-tight text-slate-900 text-center">{{ .Title }}</h1>
    <time datetime="2020-03-16" class="text-slate-900 flex justify-center mt-4">
      {{ dateFormat "January 02, 2006" .Date }}
    </time>
    <div class="flex space-x-4 mt-4 justify-center">
      {{ partial "share.html" . }}
    </div>
    {{ if .Params.image }}
      <div class="aspect-w-16 aspect-h-10 rounded overflow-hidden mt-12 lg:-mx-24">
        <img class="w-full h-full object-center object-cover" src="{{ .Params.image | relLangURL }}" alt="{{ .Title }}">
      </div>
    {{ end }}    
    <div class="mt-12 prose sm:prose-lg dark:prose-invert hover:prose-a:text-pink-600 max-w-none">
      {{ .Content }}
    </div>
    <div class="mt-16 lg:mt-20 grid gap-4 grid-cols-1 md:grid-cols-2">
      {{ with .NextInSection }}
        <a class="flex items-center text-slate-900 dark:text-slate-200 bg-purple-980 hover:bg-purple-970 border border-gray-900 rounded-md "
          href="{{ .Permalink }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
          </svg>            
          <span class="ml-2 mr-4 my-4 grow"> Previous<br><strong class="text-lg sm:text-xl">{{ .Title }}</strong></span>
        </a>
      {{ else }}
        <div></div>
      {{ end }}      
      {{ with .PrevInSection }}
        <a class="flex items-center text-right text-slate-900 dark:text-slate-200 bg-purple-980 hover:bg-purple-970 border border-gray-900 rounded-md "
          href="{{ .Permalink }}">
          <span class="ml-4 mr-2 my-4 grow"> Next<br><strong class="text-lg sm:text-xl">{{ .Title }}</strong></span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      {{ end }}                        
    </div>
  </div>
</div>
<div class="bg-green-50 px-6 lg:px-8">
  <div class="mx-auto max-w-md md:max-w-xl lg:max-w-7xl py-14 lg:py-24">
    <h2 class="text-3xl sm:text-4xl lg:text-5xl font-semibold lg:leading-tight text-slate-900 text-center">Flere artikler</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-10 mt-8 lg:mt-16">
      {{ $posts := where site.RegularPages "Section" "blog" }}
      {{ range first 2 (where $posts "Title" "!=" .Title) }}
        {{ partial "card-post.html" . }} 
      {{ end }}
    </div>
  </div>
</div>
{{end}}
