<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" class="scroll-smooth" :class="{ 'dark': dark }" x-data="{ dark: $persist(false) }">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ if .Site.Params.banner.text }}
        {{ partial "banner.html" . }}
    {{ end }}
    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ $footer := (printf "%s%s%s" "" .Site.Params.footer.layout ".html" ) }}
    {{ if templates.Exists (printf "%s%s" "partials/" $footer ) }}
      {{ partial $footer . }}
    {{ end }} 
</body>
</html>

