{{ partial "block-open.html" . }} 
  <div class="space-y-4 lg:space-y-10">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto text-center space-y-4 lg:space-y-5">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-4xl mx-auto">
      {{ range .faqs }}
        <div x-data="{ expanded: false }" class="border-b border-slate-200 dark:border-slate-800">
          <h3>
            <button x-on:click="expanded = ! expanded" class="w-full py-8 flex items-center text-left text-xl lg:text-2xl font-semibold dark:text-white hover:text-primary-600 dark:hover:text-primary-500">
              <span class="grow" :class="{ 'text-primary-600 dark:text-primary-500': expanded }">{{ .title }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" :class="{ 'rotate-90 text-primary-600 dark:text-primary-500': expanded, 'transform-none': !(expanded) }" class="h-7 w-7 duration-300" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </button>
          </h3>
          <div x-show="expanded" x-collapse>
            <div class="max-w-none prose prose-neutral dark:prose-invert pb-8">
              {{ .content | markdownify }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ partial "block-close.html" . }}