{{ partial "block-open.html" . }}
  <div class="max-w-2xl lg:max-w-7xl mx-auto">
    <div class="items-center lg:grid lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-16 xl:gap-24">
      <div class="{{ if eq .align "right" }}lg:col-start-2{{ end }}">
        <div class="space-y-10 lg:space-y-12">
          <div class="space-y-4 lg:space-y-5">
            {{ partial "components/superheading.html" . }}
            {{ partial "components/h2.html" . }}
            {{ partial "components/subheading.html" . }}
          </div>
          {{ partial "components/list.html" . }}
          {{ with .button }}
            {{ partial "components/button.html" . }}
          {{ end }}
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        {{ partial "components/image.html" . }}
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }} 