{{ partial "block-open.html" . }} 
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-14">
      <div class="lg:col-span-4">
        <div class="space-y-10 lg:space-y-12">
          <div class="space-y-4 lg:space-y-5">
            {{ partial "components/superheading.html" . }}
            {{ partial "components/h2.html" . }}
            {{ partial "components/subheading.html" . }}
          </div>
          {{ partial "components/list.html" . }}
          {{ with .button }}
            {{ partial "components/button.html" . }}
          {{ end }}
        </div>
      </div>
      <div class="lg:col-span-8">
        <div class="grid grid-cols-1 gap-12 lg:gap-y-12 xl:gap-x-16 sm:grid-cols-2">
          {{ range .cards }}
            <div class="space-y-4">
              {{ if .icon }}
                <div class="mb-6">
                  {{ partial "components/icon-box.html" . }}
                </div>
              {{ end }}
              {{ partial "components/h3.html" . }}
              {{ partial "components/copy.html" . }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }} 