{{ partial "block-open.html" . }} 
  <div class="space-y-10 lg:space-y-14">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto text-center space-y-4 lg:space-y-5">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-lg mx-auto {{ if eq .columns 2 }} lg:max-w-5xl{{ else }}lg:max-w-7xl{{ end }}">
      <div class="grid gap-10 lg:grid-cols-{{ .columns | default "3" }}">
        {{ range .cards }}
          <div class="flex flex-col rounded-2xl border border-zinc-200 dark:border-zinc-800 h-full{{ if eq $.align "center" }} text-center px-8 py-11{{ else }} p-11{{ end }}">
            <div class="flex-1 space-y-4">
              {{ if .icon }}
                <div class="flex mb-6{{ if eq $.align "center" }} justify-center{{ end }}">
                  {{ partial "components/icon-box.html" . }} 
                </div>
              {{ end }}
              {{ partial "components/h3.html" . }}
              {{ partial "components/copy.html" . }}
            </div>
            {{ with .button }}
              <div class="mt-8{{ if eq $.align "center" }} text-center{{ end }}">
                {{ partial "components/button.html" . }}
              </div>
            {{ end }}      
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }}
