{{ partial "block-open.html" . }}
  <div class="mx-auto max-w-3xl lg:max-w-7xl">
    {{ if eq .layout "left" }}
      <div class="lg:flex items-center ">
        <div class="max-w-2xl lg:w-1/2 space-y-10 lg:space-y-12">
          <div class="space-y-4 lg:space-y-5">
            {{ partial "components/superheading.html" . }}
            {{ partial "components/h1.html" . }}
            {{ if .subheading }}
              <div class="max-w-lg">
                {{ partial "components/subheading.html" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/list.html" . }}
          {{ with .buttons }}
            <div class="flex flex-wrap gap-3">
              {{ range . }}
                {{ partial "components/button.html" . }}
              {{ end }}
            </div>
          {{ end }}
        </div>
        <div class="h-full w-full lg:w-1/2 pt-12 lg:pt-0 lg:pl-8 xl:pl-14">
          {{ partial "components/image.html" . }}
        </div>
      </div>
    {{ else }}
      <div class="max-w-4xl mx-auto space-y-10 lg:space-y-14 text-center">
        {{ if or .superheading .heading .subheading }}
          <div class="max-w-3xl mx-auto space-y-2 md:space-y-4">
            {{ partial "components/superheading.html" . }}
            {{ partial "components/h1.html" . }}
            {{ partial "components/subheading.html" . }}
          </div>
        {{ end }}
        {{ if .image }}
          <div class="flex justify-center">
            {{ partial "components/image.html" . }}
          </div>
        {{ end }}
        {{ partial "components/list.html" . }}
        {{ with .buttons }}
          <div class="flex flex-wrap gap-3 justify-center">
            {{ range . }}
              {{ partial "components/button.html" . }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ partial "block-close.html" . }}