{{ partial "block-open.html" . }} 
  <div class="space-y-10 lg:space-y-14">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto text-center space-y-4 lg:space-y-5">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-md mx-auto {{ if lt (len .plans) 3 }} lg:max-w-4xl{{ else }}lg:max-w-7xl{{ end }}">
      <div class="grid gap-8 {{ if gt (len .plans) 3 }}lg:grid-cols-2 xl:grid-cols-{{ len .plans | default 4 }}{{ else }}lg:grid-cols-{{ len .plans | default 3 }}{{ end }}">
        {{ range .plans }}
          <div class="flex flex-col {{ if eq .style "primary" }}border-2 border-primary-500{{ else }}border border-zinc-200 dark:border-zinc-800{{ end }} rounded-2xl h-full p-8 pt-10 space-y-8">
            {{ if .label }}
              <div>
                {{ partial "components/label.html" . }}
              </div>
            {{ end }}
            <div class="flex items-baseline gap-x-1">
              <span class="text-[2.75rem] font-semibold tracking-tight antialiased dark:text-white leading-none">${{ .price }} </span>
              <span class="text-zinc-600 dark:text-zinc-300 font-semibold">/{{ .period | default "month" }}</span>
            </div>
            {{ if .copy }}
              {{ partial "components/copy.html" . }}
            {{ end }}
            <ul class="text-zinc-600 dark:text-zinc-300 space-y-3">
              {{ range .features }}
                <li class="flex items-center">
                  <span class="flex-none">
                    <svg class="text-primary-600 dark:text-primary-500" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.21875 13L9.21875 17L19.2188 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                  <span class="flex-grow ml-3">{{ . }}</span>
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              <div class="flex justify-center items-end flex-1">
                {{ partial "components/button.html" . }}
              </div>
            {{ end }}            
          </div>
        {{ end }}
        {{ with .custom }}
          <div class="border border-zinc-200 dark:border-zinc-800 rounded-2xl h-full p-8 pt-10 
            {{ if gt (len $.plans) 3 }}lg:col-span-2 xl:col-span-{{ len $.plans | default 4 }}{{ else }}lg:col-span-{{ len $.plans | default 3 }}{{ end }}">
            <div class="md:flex items-center">
              <div class="flex-grow space-y-8">
                {{ if .label }}
                  <div>
                    {{ partial "components/label.html" . }}
                  </div>
                {{ end }}   
                {{ if .copy }}
                  {{ partial "components/copy.html" . }}
                {{ end }} 
              </div>
              <div class="flex-none mt-6 md:mt-0">
                {{ with .button }}
                  {{ partial "components/button.html" . }}
                {{ end }}
              </div>          
            </div>   
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }}


    
