{{ partial "block-open.html" . }}
  <div class="space-y-8">
    {{ if or .superheading .heading .subheading }}
      <div class="max-w-3xl mx-auto space-y-4 lg:space-y-5 text-center">
        {{ partial "components/superheading.html" . }}
        {{ partial "components/h2.html" . }}
        {{ partial "components/subheading.html" . }}
      </div>
    {{ end }}
    <div class="max-w-5xl mx-auto">
      <div class="flex flex-wrap justify-center">
        {{ range .stats }}
          <div class="space-y-2 text-center w-full lg:w-1/3 px-8 py-6">
            {{ with .heading }}
              <h3 class="text-4xl font-bold tracking-tight dark:text-white">{{ . | markdownify }}</h3>
            {{ end }} 
            {{ partial "components/copy.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ partial "block-close.html" . }}