{{define "main"}}
  <section class="px-6 sm:px-10 pt-14 lg:pt-24">
    <div class="mx-auto max-w-md sm:max-w-3xl lg:max-w-7xl">
      <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-sky-990">{{ strings.FirstUpper (replace .Title "_" " ") }}</h1>
      <div class="flex flex-col lg:flex-row gap-8 lg:gap-10 mt-6">
        <div>
          {{ partial "nav-tags.html" . }}
        </div>
        <div class="flex-1">
          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {{ if in .Permalink "/all" }}
              {{ $allTemplates := .Paginate ( where site.RegularPages "Params.stubs" "!=" nil ) }}
              {{ range $allTemplates.Pages }}
                {{ partial "card-api.html" . }}
              {{ end }}
            {{ else }}
              {{ range .Paginator.Pages }}
                {{ partial "card-api.html" . }}
              {{ end }}
            {{ end }}
          </div>
          <div class="mt-10">
            {{ partial "pagination.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ with .Site.Params.cta }}
    {{ partialCached "cta.html" . }}
  {{ end }}
{{ end }}